@import "./../../App.scss";

.hero {
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;    
    overflow: hidden;
    position: relative;

    @include mobile {
        min-height: 100vh;
    }

    .wrapper {
        max-width: var(--max-width);
        height: 100%;
        margin: auto;
        display: flex;
        flex-direction: row;

        @include mobile {
            flex-direction: column;
            align-items: center;
        }

        @include tablet {
            flex-direction: column;
            align-items: center;
        }

        .textContainer {
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 1rem;
             
            @include mobile {
                height: 100%;
                width: 100%;
                gap: 2rem;
                align-items: center;
                text-align: center;
                padding: 6rem 0 0 0;
            }

            @include tablet {
                height: 100%;
                width: 80%;
                gap: 2rem;
                align-items: center;
                text-align: center;
                padding: 8rem 0 0 0;
            }

            h2 {
                font-size: var(--fs-300);
                color: var(--secondary);
                font-family: var(--font-text);
                margin: 0;
                padding: 0;

                @include desktop {
                    display: none;
                }
            }

            h1 {
                font-family: var(--font-heading);
                font-size: var(--fs-xl);
                font-weight: 400;
                word-wrap: break-word;
                width: 100%;

            }

            .buttons {
                display: flex;
                margin-top: 2.25rem;

                @include mobile {
                    margin-top: 0rem;
                    gap: 1rem;
                }

                button {
                    flex: 1;
                    font-family: "Inconsolata", monospace;
                    padding: 1.5rem;
                    border: 1px solid white;
                    cursor: pointer;
                    font-weight: 500;
                    font-size: var(--fs-200);
                }
                
                .projectButton {
                    background-color: var(--primary);
                    color: #ffff;
                    border: 0px;
                }

                .contactButton {
                    border: 2px solid;
                    background-color: var(--background);
                    color: var(--primary);
                    font-weight: 800;
                }

            }

            img {
                margin-top: 2rem;
                width: 4rem;
                cursor: pointer;
            }
            
            .fullstackText {
                background: linear-gradient(90deg, #f67e9c, #3e1da2);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
            }

            .automateText {
                background: linear-gradient(90deg, var(--blue), var(--accent));
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
            }
        }

        .animationContainer {
            display: flex;
            flex-direction: row;
            width: 50%;
            gap: 10px;
            align-items: center;
            justify-content: center;
            height: 100%;

            @include mobile {
                display: none;
            }

            @include tablet {
                display: none;
            }

            .automator {
                width: 65%;
                display: flex;
                justify-content: center;
                align-items: center;

                @include tablet {
                    width: 65%;
                }

                @include mobile {
                    width: 65%;
                }

                svg {
                    width: 100%;
                    height: 100%;
                }
            }

            .base {
                fill: #063538;
            }

            .stand {
                fill: #02252e;
            }

            .borders {
                fill: #000000;
            }

            .background {
                fill: linear-gradient(90deg, #f67e9c, #3e1da2);
            }

            .gear-internal {
                fill: var(--blue);
            }

            .gear-outer {
                fill: #000000
            }

            .gear-inner {
                fill: #000000
            }

            .i-stalk {
                fill: #000000
            }

            .i-dot {
                fill: #000000
            }

        }
    }

    .imageContainer {
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;

        @include mobile {
            height: 50%;
            width: 100%;
            top: unset;
            bottom: 0;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}