@import "../../App.scss";

.portfolio {
  max-width: var(--max-width); /* container mx-auto */
  margin-left: auto; /* container mx-auto */
  margin-right: auto; /* container mx-auto */
  padding: 2rem; /* p-8 */
  font-family: var(--font-text);
}

.grid-container {
  display: flex;
  flex-direction: row;
  gap: 2rem; /* gap-8 */
  flex-wrap: wrap;
  align-content: stretch;
}

.portfolio-item {
  background-color: var(--card); /* bg-gray-800 */
  color: #ffffff; /* text-white */
  border-radius: 0.5rem; /* rounded-lg */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* shadow-md */
  flex: 1;
  cursor: pointer;

  .itemImageContainer {
    width: 100%;
    aspect-ratio: 4/3;
    position: relative;
    overflow: hidden;
    background-color: var(--secondary-card);
    border-radius: 0.5rem 0.5rem 0rem 0rem;
    
    .portfolio-item-img {
      width: 85%;
      position: absolute;
      bottom: 0;
      left: 50%;
      translate: -50% 5%;
      border-radius: .4rem;
    }
  }

  .itemTextContainer {
    padding: 1rem;

    h2 {
      margin-bottom: 0.5rem;
    }
  }

  .techStack {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;
  
    .technology {
      padding: 0.15rem 0.45rem;
      background-color: var(--bubble);
      border-radius: 999px;
    }
  }

}

.featured {
  flex: 1 1 calc(47.5% - 2rem);

  @include mobile {
    flex: 1 1 calc(100% - 2rem);
  }

  @include tablet {
    flex: 1 1 calc(100% - 2rem);
  }
}

.normal {
  flex: 1 1 calc(33.333% - 2rem);

  @include mobile {
    flex: 1 1 calc(100% - 2rem);
  }

  @include tablet {
    flex: 1 1 calc(50% - 2rem);
  }
}

.portfolio-item-title {
  font-size: 1.25rem; /* text-xl */
  font-weight: bold; /* font-bold */
}

.portfolio-item-description {
  margin-bottom: 1.75rem;
}


// @media (min-width: 768px) {
//   .grid-container {
//     grid-template-columns: repeat(2, 1fr); /* md:grid-cols-2 */
//   }
// }

// @media (min-width: 1024px) {
//   .grid-container {
//     grid-template-columns: repeat(3, 1fr); /* lg:grid-cols-3 */
//   }
// }