@import "../../App.scss";

.portfolio {
  max-width: 1366px; /* container mx-auto */
  margin-left: auto; /* container mx-auto */
  margin-right: auto; /* container mx-auto */
  padding: 2rem; /* p-8 */
}

.grid-container {
  display: flex;
  flex-direction: row;
  gap: 2rem; /* gap-8 */
  flex-wrap: wrap;
  align-content: stretch;
}

.portfolio-item {
  background-color: #2d3748; /* bg-gray-800 */
  color: #ffffff; /* text-white */
  padding: 1rem; /* p-4 */
  border-radius: 0.5rem; /* rounded-lg */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* shadow-md */
  flex: 1;
  cursor: pointer;
}

.featured {
  flex: 1 1 calc(60% - 2rem);
}

.normal {
  flex: 1 1 calc(33.333% - 2rem);
}

.portfolio-item-img {
  border-top-left-radius: 0.5rem; /* rounded-t-lg */
  border-top-right-radius: 0.5rem; /* rounded-t-lg */
  margin-bottom: 1rem; /* mb-4 */
  width: 100%;
  // height: 50px;
}

.portfolio-item-title {
  font-size: 1.25rem; /* text-xl */
  font-weight: bold; /* font-bold */
}

.portfolio-item-description {
  /* Add any additional styles for the description here */
}


// @media (min-width: 768px) {
//   .grid-container {
//     grid-template-columns: repeat(2, 1fr); /* md:grid-cols-2 */
//   }
// }

// @media (min-width: 1024px) {
//   .grid-container {
//     grid-template-columns: repeat(3, 1fr); /* lg:grid-cols-3 */
//   }
// }