@import "../../App.scss";

.about {
    width: 100%;
    overflow-x: hidden;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0rem 2em;

    .mainContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: var(--font-text);
        max-width: var(--max-width);

        h1 {
            font-family: "Figtree", monospace;
            font-size: var(--fs-400);
        }
    
        .content {
            display: flex;
            flex-direction: row-reverse;
            width: 100%;
            align-items: center;
            justify-content: center;
            border: 1px solid var(--accent);
            
            @include tablet {
                flex-direction: column;
            }
            @include mobile {
                flex-direction: column;
            }
    
            .imageContainer {
                width: 40%;
                display: flex;
                align-items: center;
                justify-content: center;
                overflow: hidden;
                padding: 5rem;

                @include mobile {
                    aspect-ratio: 1/1;
                    width: 100%;
                    max-width: 500px;
                    padding: 2rem 2rem;
                }

                @include tablet {
                    aspect-ratio: 1/1;
                    max-width: 500px;
                    padding: 1rem;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 3px;
                }
            }
    
            .textContainer {
                width: 40%;
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                font-size: var(--fs-200);
                padding: 1rem 0rem;

                @include mobile {
                    width: 100%;
                    padding: 2rem 2rem;
                }
                
                @include tablet {
                    width: 100%;
                    padding: 2rem 2rem;
                }

                p {
                    padding-bottom: 2rem;
                }

                .linksContainer {
                    display: flex;
                    flex-direction: column;

                    .buttonsContainer {
                        display: flex;
                        flex-direction: row;
                        gap: 1.25rem;
                        margin-top: 2rem;
                        
                        a {
                            display: flex;
                            button {
                                display: flex;
                                padding: 1rem;
                                flex-direction: row;
                                justify-content: center;
                                align-items: center;
                                font-size: var(--fs-200);
                                font-family: var(--font-text);
                                background-color: var(--secondary);
                                border: none;
                                color: var(--text);
                                flex: 1;
    
                                svg {
                                    margin-left: 0.5rem;
                                    width: 1.25rem;
                                    height: 1.25rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}