@import "./../../App.scss";

.contact {
    height: 100%;
    max-width: var(--max-width);
    margin: auto;
    display: flex;
    align-items: center;
    gap: 3rem;
    font-family: "Inconsolata", monospace;
    padding: 5rem 0;

    @include mobile {
        width: 100%;
        flex-direction: column;
        padding: 1rem;
        margin-top: 3rem;
    }

    @include tablet {
        width: 100%;
        flex-direction: column;
        padding: 1rem;
    }

    .textContainer {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        @include mobile {
            text-align: center;
            align-items: center;
        }

        h1 {
            font-size: 6rem;
            line-height: 6rem;
            font-family: var(--font-heading);
            word-wrap: break-word;

            @include mobile {
                font-size: 5rem;
                line-height: 3rem;
            }
        }

        h2 {
            @include mobile {
                font-size: 2rem;
            }
        }

        span {
            font-weight: 300;

            @include mobile {
                font-size: 1.5rem;
            }
        }
    }

    .formContainer {
        flex: 1;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        @include mobile {
            padding: 3rem;
            width: 100%;
        }

        @include tablet {
            padding: 3rem;
            width: 100%;
        }

        .messageSvg {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

                width: 40%;
                height: 40%;
                overflow: visible;
                stroke: var(--accent);
                stroke-width: 1;
                stroke-linejoin: round;
                stroke-linecap: round;

        }

        form {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            width: 100%;
    
            input, textarea {
                padding: 20px;
                background-color: transparent;
                border: 1px solid white;
                color: white;
                border-radius: 5px;

                @include mobile {
                    padding: 10px;   
                }
            }

            button {
                padding: 20px;
                border: none;
                background-color: var(--secondary);
                cursor: pointer;
                font-weight: 500;
                font-family: "Inconsolata";
                color: var(--text);

                @include mobile {
                    padding: 10px;
                }
            }

        }
        
    }
}