@import "./../../App.scss";

.navbar {
    height: 75px;
    background: rgba(0, 0, 0, 0.3);
    color: white;
    position: fixed;
    z-index: 2;
    top: 0;
    width: 100%;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mobile {
        display: none
    }
    @include tablet {
        display: none
    }

    .wrapper {
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        width: 100%;

        .navbarLeft {
            flex: 1;
            margin-left: 0.5rem;

            span {
                @include tablet {
                    display: none;
                }
                @include mobile {
                    display: none;
                }
            }
        }

        .navbarMiddle {
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 2;

            a {
                cursor: pointer;
            }
        }

        .navbarRight {
            flex: 1;
        }

        .links {
            display: flex;
            flex-direction: row;
            gap: 40px;
            font-size: 20px;

            @include mobile {
                display: none;
            }
        }

        @include mobile {
            justify-content: flex-end;
            padding: 20px;
        }

        .motion-span {
            font-weight: bold;
            font-size: 30px;

            @include mobile {
                display: none;
            }
        }
    }

    .social {
        display: flex;
        gap: 20px;

        img {
            width: 25px;
            height: 25px;
        }
    }
}