.card {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    height: 500px;
    border: 2px dashed #cfdbd5;
    padding: 2rem;
    gap: 2rem;
    background-color: var(--secondary);

    .cardImages {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        
        img {
            width: 20%;
        }
    }

    p {
        font-size: 1.25rem;
    }
}