@import "./../../App.scss";

.experience {
    color: black;
    font-family: "Inconsolata", monospace;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    .container {
        display: flex;
        max-width: var(--max-width);
        width: 100%;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .vertical-timeline::before {
            @include mobile {
                background: var(--background);
            }
            @include tablet {
                background: var(--background);
            }
        }

        .vertical-timeline-element-icon {
            overflow: hidden;
            width: 70px !important;
            height: 70px !important;
            margin-left: -36px !important;
            box-shadow: 0 0 0 4px var(--card), inset 0 2px 0 rgba(0, 0, 0, .08), 0 3px 0 4px rgba(0, 0, 0, .05);

            svg {
                width: 63px !important;
                height: 63px !important;
                margin-left: -32px !important;
                margin-top: -28px !important;
            }

            @include mobile {
                margin-left: -22px !important;
            }
        }

        .vertical-timeline-element-content {
            background-color: var(--primary);
            color: var(--text);
            box-shadow: 0 3px 0 var(--secondary);

            .vertical-timeline-element-content-arrow {
                border-right: 7px solid var(--secondary);
            } 
        }
    
        .date {
            color: white;
        }
    }

}
