html, body {
    scroll-behavior: smooth;
}

$text: #ffffff;
$background: #121212;
$footer: #0c0c0c;
$card: #1f1f1f;
$bubble: #2D3142;
$primary: #2e816f;
$secondary: #005148;
$secondary-card: #001d19;
$accent: #2bffdc;
$tertiary: #B94CCF;
$border-100: #1B3432;
$blue: #065ea5;

:root {
    --font-text: 'Inconsolata', monospace;
    --font-heading: 'FigTree', sans-serif;

    --max-width: 1200px;

    --text: #{$text};
    --accent: #{$accent};
    --background: #{$background};
    --footer: #{$footer};
    --primary: #{$primary};
    --secondary: #{$secondary};
    --accent: #{$accent};
    --tertiary: #{$tertiary};
    --card: #{$card};
    --bubble: #{$bubble};
    --border-100: #{$border-100};
    --blue: #{$blue};
    --secondary-card: #{$secondary-card};
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    background-color: var(--background);
    color: rgb(225, 237, 241);
}

section {
    height: 100vh;
    scroll-snap-align: center;
    overflow: hidden;
}

.course {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .box {
        width: 200px;
        height: 200px;
        background-color: white;
    }
}


.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
    
    .sectionHeader {
        font-family: "Figtree";
        font-size: 3rem;

        .numberedHeading {
            color: $accent;
            font-family: "Inconsolata";
            font-size: 3rem;
        }

        .numberedHeading.small {
            font-size: 1.75rem;
        }
    }

    .sectionHeader.white {
        color: $text;
    }

    .sectionHeader.small {
        font-size: 2rem;
    }
}

.highlight {
    color: var(--accent);
}

.header.contact {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0rem;
    width: 100%;
}


@mixin mobile {
    @media (max-width: 738px) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: 739px) and (max-width: 1366px) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: 1367px) {
        @content;
    }
}