html, body {
    scroll-behavior: smooth;
}

:root {
    --font-text: 'Inconsolata', monospace;
    --font-heading: 'FigTree', sans-serif;

    --max-width: 1200px;

    --text: #ffffff;
    --accent: #2bffdc;
    --background: #121212;
    --footer: #0c0c0c;
    --primary: #2e816f;
    --secondary: #005148;
    --tertiary: #B94CCF;
    --card: #1f1f1f;
    --bubble: #2D3142;
    --border-100: #1B3432;
    --blue: #065ea5;
    --secondary-card: #001d19;

    --fs-xl: 4rem;
    --fs-600: 3rem;
    --fs-400: 2.5rem;
    --fs-300: 1.75rem;
    --fs-200: 1.25rem;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    background-color: var(--background);
    color: rgb(225, 237, 241);
}

section {
    scroll-snap-align: center;
    overflow: hidden;
}

.course {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .box {
        width: 200px;
        height: 200px;
        background-color: white;
    }
}


%base-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
    
    .sectionHeader {
        font-family: var(--font-heading);
        font-size: var(--fs-400);

        .numberedHeading {
            color: var(--accent);
            font-family: var(--font-text);
        }

        .numberedHeading.small {
            font-size: var(--fs-300);
        }
    }

    .sectionHeader.white {
        color: var(--text);
    }

    .sectionHeader.small {
        font-size: var(--fs-300);
    }
}

.header {
    @extend %base-header
}

.highlight {
    color: var(--accent);
}


@mixin mobile {
    @media (max-width: 738px) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: 739px) and (max-width: 1366px) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: 1367px) {
        @content;
    }
}

.padder {
    padding: 0rem;

    @include mobile {
        padding: 0rem 1rem;
    }

    @include tablet {
        padding: 0rem 2.25rem;
    }
}

@include mobile {
    :root {
        --fs-xl: 3rem;
        --fs-600: 2.75rem;
        --fs-400: 2.25rem;
        --fs-300: 1.5rem;
        --fs-200: 1rem;
    }
}